@model TDMUOJ.Models.AdminOverview
<div id="dashboard" class="dashboard-item">
    <h2>Tổng quan hệ thống</h2>
    <p>Tổng số tài khoản: @Model.accountNumber</p>
    <p>Tổng số cuộc thi: @Model.contestNumber</p>
    <p>Tổng số bài tập: @Model.problemNumber</p>
    <p>Tổng số bài nộp: @Model.submissionNumber</p>
</div>