#container .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .content-left {
    width: 78%;
    height: 570px;
    overflow: auto;
}

.content .content-right {
    width: 19%;
    height: 570px;
    overflow: auto;
    padding-right: 12px;
}

#container .container-content .content .but {
    background: linear-gradient(to bottom, #337ab7, #265a88);
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 50px;
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
}

    #container .container-content .content .but:hover {
        background: linear-gradient(to bottom, #265a88, #265a88);
    }

.content .content-right .top-user {
    width: 100%;
}

    .content .content-right .top-user .top-user-title {
        background-color: #4794ff;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        display: flex;
        text-align: center;
        padding: 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: #000 1px solid;
    }

    .content .content-right .top-user .top-head {
        padding: 5px;
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background-color: #80b5ff;
        border-top: 1px solid white;
        display: inline-flex;
        border: 1px #000 solid;
    }

    .content .content-right .top-user .top-child {
        padding: 5px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        display: inline-flex;
        background-color: #fff;
        border: #000 1px solid;
    }

    .content .content-right .top-user .user-rank {
        width: 10%;
    }

    .content .content-right .top-user .user-name {
        width: 70%;
    }

    .content .content-right .top-user .top-problem,
    .content .content-right .top-user .top-comment {
        background-color: #fff;
        font-weight: bold;
        padding: 5px;
        width: 100%;
        border: #000 1px solid;
    }

    .content .content-right .top-user .last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
