* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    line-height: 1.231;
    height: 100%;
    background: #f8f8f8;
    font-family: segoe ui, lucida grande, Arial, sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

.container-content {
    min-height: 100vh;
    width: 90%;
    margin: 150px auto 0;
    flex: 1 1 0%;
}

.content {
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

.footer-content {
    margin-top: 100px;
}