
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/Register.css" />
    <title>Đăng Ký - TDMUOJ</title>
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="boxx">
            <div class="square" style="--i: 0"></div>
            <div class="square" style="--i: 1"></div>
            <div class="square" style="--i: 2"></div>
            <div class="square" style="--i: 3"></div>
            <div class="square" style="--i: 4"></div>
            <div class="fromm">
                <h2>Đăng ký</h2>
                <div style="color: red;">@ViewBag.Error</div>
                <form id="myForm" action="~/Register/Index" method="post">
                    <div class="inputboxx">
                        <input type="text" name="fullName" placeholder="Họ và tên (có thể bỏ trống)" />
                    </div>
                    <div class="inputboxx">
                        <input type="text" name="username" placeholder="Tên truy cập" />
                    </div>
                    <div class="inputboxx">
                        <input type="text" name="email" placeholder="Địa chỉ email" />
                    </div>
                    <div class="inputboxx">
                        <input type="password" name="password" placeholder="Mật khẩu" class="password" />
                    </div>
                    <div class="inputboxx">
                        <input type="password"
                               name="confirmPassword"
                               placeholder="Xác nhận mật khẩu"
                               class="confirmPassword" />
                    </div>
                    <div class="inputboxx">
                        <input type="submit" value="Đăng ký" class="register" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
