
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/News.css" />

        <div class="content-left">
            <h1>Tin tức</h1>
            <br />
            <hr />
            <br />
            <div class="news">
                <h1>Bedao Mini Contest 17 🌸</h1>
                <h3>Bedao đã đăng 10:08:19 ch, 10/02/2023</h3>
                <p>
                    Để tiếp tục hành trình xây dựng và nâng cấp thư viện VNOI Wiki
                    với nhiều chủ đề bổ ích trong Lập trình thi đấu 🌸, VNOI Wiki
                    với mục tiêu trở thành nguồn tài liệu Tin học tham khảo bằng
                    tiếng Việt tốt nhất với các bạn học sinh, sinh viên trên cả
                    nước, đã quay trở lại cùng với bài viết có chủ đề “Đường đi
                    Euler trên cây” 🌸 - hay còn được biết đến với tên gọi “Euler
                    tour on tree”. 🌸
                </p>
                <p>
                    Đường đi Euler trên cây" 🌸 là một phương pháp hữu dụng để giải
                    quyết các bài toán trên cây trong Lập trình thi đấu. Đây là một
                    kỹ thuật áp dụng việc trải phẳng cây để dễ dàng thao tác trên
                    cây như thao tác trên mảng một chiều. Để tìm hiểu sâu hơn về
                    phương pháp này, hãy cùng đọc bài viết trên VNOI Wiki nhé! 🌸
                </p>
                <img src="~/Content/IMAGE/tree.gif"
                     alt="Bedao Mini Contest 17"
                     width="100%"
                     height="auto"
                     class="hov" />
                <p>Xin chào mọi người 🌸</p>

                <p>
                    Cảm ơn các bạn TNV & admin VNOI đã biên soạn bài viết này. Cũng
                    thông qua bài viết, chúng mình hi vọng các bạn có thể hiểu và
                    vận dụng thành thạo phương pháp này. Chúc các bạn học tập hiệu
                    quả!
                </p>
                <br />
                <hr />
                <br />
            </div>
            <div class="news">
                <h1>Bedao Mini Contest 17 🌸</h1>
                <h3>Bedao đã đăng 10:08:19 ch, 10/02/2023</h3>
                <img src="~/Content/IMAGE/Bedao Mini Contest 17.png"
                     alt="Bedao Mini Contest 17"
                     width="100%"
                     height="auto"
                     class="hov" />
                <p>Xin chào mọi người 🌸</p>
                <p>
                    Bedao team sắp tới có tổ chức Bedao Mini Contest 17 🌸 vào Chủ
                    nhật, ngày 12 tháng 02 năm 2023 lúc 20 giờ diễn ra đến 22 giờ
                    30, và sẽ được tính rating cho những người có rating dưới .
                    Contest được chuẩn bị bởi Daor team, bên cạnh đó là sự hỗ trợ
                    nhiệt tình từ các bạn Tester. Bọn mình cảm ơn sự đóng góp của
                    những bạn sau đây trong contest lần này:
                </p>
                <p>
                    Thanh_beo_ILS LeThanhMinh Tri_Phan HynDuf hoale86 nothere
                    trungnotchung phanh051 Hau Lam_lai_cuoc_doi fextivity Duy_e
                    marvinthang Mike4235 kazamahoang DeMen100ns Naot 🌸
                </p>
                <p>
                    Ngoài ra còn có sự góp sức đến từ team admin VNOJ khi đã tạo
                    điều kiện tổ chức contest trên VNOJ cũng như công tác truyền
                    thông để đưa đến cộng đồng những bộ đề chất lượng nhất. Bộ đề
                    lần này có 5 bài gồm nhiều subtask đi kèm và thời gian hoàn
                    thành contest sẽ là 2 tiếng 30 phút, kì thi được tổ chức theo
                    thể thức OI, tức số điểm của bạn được tính ứng với số bộ test
                    bạn đúng trong bài, mục tiêu trong cuộc thi là đạt được nhiều
                    điểm nhất có thể trong khoảng thời gian cho phép. Sau khi kết
                    thúc, toàn bộ Editorial của từng bài sẽ được cập nhật trong thời
                    gian ngắn. Chúc mọi người hoàn thành bài thi của mình với phong
                    độ cao nhất 💪
                </p>
                <br />
                <hr />
                <br />
            </div>
            <div class="news">
                <h1>Bedao Mini Contest 17 🌸</h1>
                <h3>Bedao đã đăng 10:08:19 ch, 10/02/2023</h3>
                <p>
                    Bài toán Range Minimum Query (RMQ) là một bài toán phổ biến và
                    quen thuộc trong Lập trình thi đấu. Một trong những cách phổ
                    biến nhất để giải bài toán này đó là dùng cấu trúc dữ liệu
                    Sparse Table (bảng thưa). Để tìm hiểu sâu hơn về cấu trúc dữ
                    liệu này, cùng tới với bài viết trên VNOI Wiki nhé! 🌸
                </p>
                <img src="~/Content/IMAGE/6777d91a-8226-4abf-8cc3-dd16394e6612.gif"
                     alt="Bedao Mini Contest 17"
                     width="100%"
                     height="auto"
                     class="hov" />
                <p>Xin chào mọi người 🌸</p>

                <p>
                    Biên soạn: Lê Minh Hoàng - Đại học Khoa học Tự nhiên, ĐHQG-HCM
                    🌸
                </p>
                <p>
                    Bật mí thêm, contest tiếp theo của Educational Contests Project
                    về chủ đề RMQ sẽ được ra mắt trong vài ngày tới, hãy nghiên cứu
                    kỹ về bài viết này trong lúc chờ đợi contest nhé 😉! Chúc các
                    bạn học tập hiệu quả!💪
                </p>
                <br />
                <hr />
                <br />
            </div>
            <div class="news">
                <h1>Bedao Mini Contest 17 🌸</h1>
                <h3>Bedao đã đăng 10:08:19 ch, 10/02/2023</h3>
                <img src="~/Content/IMAGE/daone.png"
                     alt="Bedao Mini Contest 17"
                     width="100%"
                     height="auto"
                     class="hov" />
                <p>Xin chào mọi người 🌸</p>
                <p>
                    Bedao 🌸 team sắp tới có tổ chức Bedao Mini Contest 17 vào Chủ
                    nhật, ngày 12 tháng 02 năm 2023 lúc 20 giờ diễn ra đến 22 giờ
                    30, và sẽ được tính rating cho những người có rating dưới .
                    Contest được chuẩn bị bởi Daor team, bên cạnh đó là sự hỗ trợ
                    nhiệt tình từ các bạn Tester. Bọn mình cảm ơn sự đóng góp của
                    những bạn sau đây trong contest lần này:
                </p>
                <p>
                    tunangoo 🌸 khanhui 🌸 kazamahoan 🌸 Naot 🌸 lastPledg 🌸
                    trungnotchung 🌸 marvinthang 🌸
                </p>
                <p>
                    Ngoài ra còn có sự góp sức đến từ team admin VNOJ khi đã tạo
                    điều kiện tổ chức contest trên VNOJ cũng như trong công tác
                    truyền thông để đưa đến cộng đồng những bộ đề chất lượng nhất 🌸
                    Bộ đề lần này có 6 bài gồm nhiều subtask đi kèm và thời gian
                    hoàn thành contest sẽ là 3 tiếng, kì thi được tổ chức theo thể
                    thức OI, tức số điểm của bạn được tính ứng với số bộ test bạn
                    đúng trong bài, mục tiêu trong cuộc thi là đạt được nhiều điểm
                    nhất có thể trong khoảng thời gian cho phép. Sau khi kết thúc,
                    toàn bộ Editorial của từng bài sẽ được cập nhật trong thời gian
                    ngắn 🌸
                </p>
                <br />
                <hr />
                <br />
            </div>
        </div>
        <div class="content-right">
            <div class="top-user">
                <h1 class="top-user-title">Top thành viên</h1>
                <div class="top-head">
                    <div class="user-rank"><p>#</p></div>
                    <div class="user-name"><p>Tên truy cập</p></div>
                    <div class="user-score">Điểm</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>1</p></div>
                    <div class="user-name"><a href="#">31tranhoangson</a></div>
                    <div class="user-score">146,92</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>2</p></div>
                    <div class="user-name"><a href="#">NoobCpp</a></div>
                    <div class="user-score">146,16</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>3</p></div>
                    <div class="user-name"><a href="#">ntnguyen</a></div>
                    <div class="user-score">145,10</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>4</p></div>
                    <div class="user-name"><a href="#">marvinthang</a></div>
                    <div class="user-score">143,68</div>
                </div>
                <div class="top-child last-child">
                    <div class="user-rank"><p>5</p></div>
                    <div class="user-name"><a href="#">ProTeam15</a></div>
                    <div class="user-score">143,30</div>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Top đóng góp</h1>
                <div class="top-head">
                    <div class="user-rank"><p>#</p></div>
                    <div class="user-name"><p>Tên truy cập</p></div>
                    <div class="user-score">Đóng góp</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>1</p></div>
                    <div class="user-name"><a href="#">dquynh_2811</a></div>
                    <div class="user-score">1165</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>2</p></div>
                    <div class="user-name"><a href="#">Mike4235</a></div>
                    <div class="user-score">582</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>3</p></div>
                    <div class="user-name"><a href="#">NoobCpp</a></div>
                    <div class="user-score">404</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>4</p></div>
                    <div class="user-name"><a href="#">Mondeus</a></div>
                    <div class="user-score">362</div>
                </div>
                <div class="top-child last-child">
                    <div class="user-rank"><p>5</p></div>
                    <div class="user-name"><a href="#">darkkcyan</a></div>
                    <div class="user-score">332</div>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Dòng bình luận</h1>
                <div class="top-comment">bautroidaysao → <a href="#">Đếm</a></div>
                <div class="top-comment">
                    reddevils2709 →
                    <a href="#">Educational Segment Tree Contest - ITLAZY</a>
                </div>
                <div class="top-comment">
                    21ti_hdhphat → <a href="#">Tìm khớp và cầu (Cơ bản)</a>
                </div>
                <div class="top-comment">
                    KhongAiBiet → <a href="#">Beginner Free Contest 49 - CLOSEST</a>
                </div>
                <div class="top-comment">
                    ksomg →
                    <a href="#">Tổng hợp livestream chữa đề thi HSGQG môn Tin học các năm</a>
                </div>
                <div class="top-comment">
                    ZuyVuNee → <a href="#">Free Contest 119 - SWAP</a>
                </div>
                <div class="top-comment">
                    princeoftime05 → <a href="#">Free Contest 119 - SWAP</a>
                </div>
                <div class="top-comment">
                    MonSus → <a href="#">Bedao Mini Contest 17</a>
                </div>
                <div class="top-comment">
                    Dannyplusplus → <a href="#">Bedao Mini Contest 17</a>
                </div>
                <div class="top-comment last-child">
                    bruhlmao21 → <a href="#">Bedao Mini Contest 17</a>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Bài mới</h1>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - DIVISORS</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - EQUATION</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - PEACHTREE</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - PLUS</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - SUMSQUARE</a>
                </div>
                <div class="top-problem">
                    <a href="#">Beginner Free Contest 49 - SALES</a>
                </div>
                <div class="top-problem last-child">
                    <a href="#">Beginner Free Contest 49 - TOYS</a>
                </div>
            </div>
        </div>

