
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/Members.css" />
        <div class="content-left">
            <h1>Bảng xếp hạng</h1>
            <br />
            <hr />
            <br />
            <div class="table">
                <div class="head-table">
                    <div class="rank">Hạng</div>
                    <div class="name"><p>Tên truy cập</p></div>
                    <div class="problem"><p>Số bài</p></div>
                </div>
                <div class="child-table">
                    <div class="rank">1</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">minhthang1907</a>
                    </div>
                    <div class="problem">100</div>
                </div>
                <div class="child-table">
                    <div class="rank">2</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">KimTuyenn</a>
                    </div>
                    <div class="problem">295</div>
                </div>
                <div class="child-table">
                    <div class="rank">3</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">PhuocYen</a>
                    </div>
                    <div class="problem">294</div>
                </div>
                <div class="child-table">
                    <div class="rank">4</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Gia Huy</a>
                    </div>
                    <div class="problem">290</div>
                </div>
                <div class="child-table">
                    <div class="rank">5</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Dai Hoc TDM</a>
                    </div>
                    <div class="problem">288</div>
                </div>
                <div class="child-table">
                    <div class="rank">6</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Khanh An</a>
                    </div>
                    <div class="problem">287</div>
                </div>
                <div class="child-table">
                    <div class="rank">7</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">ViViAn123</a>
                    </div>
                    <div class="problem">285</div>
                </div>
                <div class="child-table">
                    <div class="rank">8</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Lưu Sơn Bá</a>
                    </div>
                    <div class="problem">199</div>
                </div>
                <div class="child-table">
                    <div class="rank">9</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">MY Love</a>
                    </div>
                    <div class="problem">180</div>
                </div>
                <div class="child-table">
                    <div class="rank">10</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">ASUS</a>
                    </div>
                    <div class="problem">179</div>
                </div>
                <div class="child-table">
                    <div class="rank">11</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">LaiLaPhuocYen</a>
                    </div>
                    <div class="problem">177</div>
                </div>
                <div class="child-table">
                    <div class="rank">12</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Mỹ Diệu</a>
                    </div>
                    <div class="problem">176</div>
                </div>
                <div class="child-table">
                    <div class="rank">13</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">MỸ lỆ</a>
                    </div>
                    <div class="problem">175</div>
                </div>
                <div class="child-table">
                    <div class="rank">14</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Thanh Ngọc</a>
                    </div>
                    <div class="problem">172</div>
                </div>
                <div class="child-table">
                    <div class="rank">15</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">JackSonWang</a>
                    </div>
                    <div class="problem">130</div>
                </div>
                <div class="child-table">
                    <div class="rank">16</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">TrucLi</a>
                    </div>
                    <div class="problem">123</div>
                </div>
                <div class="child-table">
                    <div class="rank">17</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Thùy Linh</a>
                    </div>
                    <div class="problem">122</div>
                </div>
                <div class="child-table">
                    <div class="rank">18</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">Ngọc Diễm</a>
                    </div>
                    <div class="problem">121</div>
                </div>
                <div class="child-table">
                    <div class="rank">19</div>
                    <div class="name">
                        <a href="../Profile/minhthang1907.html">GreenCros</a>
                    </div>
                    <div class="problem">120</div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="top-user">
                <h1 class="top-user-title">Top thành viên</h1>
                <div class="top-head">
                    <div class="user-rank"><p>#</p></div>
                    <div class="user-name"><p>Tên truy cập</p></div>
                    <div class="user-score">Điểm</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>1</p></div>
                    <div class="user-name"><a href="#">31tranhoangson</a></div>
                    <div class="user-score">146,92</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>2</p></div>
                    <div class="user-name"><a href="#">NoobCpp</a></div>
                    <div class="user-score">146,16</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>3</p></div>
                    <div class="user-name"><a href="#">ntnguyen</a></div>
                    <div class="user-score">145,10</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>4</p></div>
                    <div class="user-name"><a href="#">marvinthang</a></div>
                    <div class="user-score">143,68</div>
                </div>
                <div class="top-child last-child">
                    <div class="user-rank"><p>5</p></div>
                    <div class="user-name"><a href="#">ProTeam15</a></div>
                    <div class="user-score">143,30</div>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Top đóng góp</h1>
                <div class="top-head">
                    <div class="user-rank"><p>#</p></div>
                    <div class="user-name"><p>Tên truy cập</p></div>
                    <div class="user-score">Đóng góp</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>1</p></div>
                    <div class="user-name"><a href="#">dquynh_2811</a></div>
                    <div class="user-score">1165</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>2</p></div>
                    <div class="user-name"><a href="#">Mike4235</a></div>
                    <div class="user-score">582</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>3</p></div>
                    <div class="user-name"><a href="#">NoobCpp</a></div>
                    <div class="user-score">404</div>
                </div>
                <div class="top-child">
                    <div class="user-rank"><p>4</p></div>
                    <div class="user-name"><a href="#">Mondeus</a></div>
                    <div class="user-score">362</div>
                </div>
                <div class="top-child last-child">
                    <div class="user-rank"><p>5</p></div>
                    <div class="user-name"><a href="#">darkkcyan</a></div>
                    <div class="user-score">332</div>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Dòng bình luận</h1>
                <div class="top-comment">bautroidaysao → <a href="#">Đếm</a></div>
                <div class="top-comment">
                    reddevils2709 →
                    <a href="#">Educational Segment Tree Contest - ITLAZY</a>
                </div>
                <div class="top-comment">
                    21ti_hdhphat → <a href="#">Tìm khớp và cầu (Cơ bản)</a>
                </div>
                <div class="top-comment">
                    KhongAiBiet → <a href="#">Beginner Free Contest 49 - CLOSEST</a>
                </div>
                <div class="top-comment">
                    ksomg →
                    <a href="#">Tổng hợp livestream chữa đề thi HSGQG môn Tin học các năm</a>
                </div>
                <div class="top-comment">
                    ZuyVuNee → <a href="#">Free Contest 119 - SWAP</a>
                </div>
                <div class="top-comment">
                    princeoftime05 → <a href="#">Free Contest 119 - SWAP</a>
                </div>
                <div class="top-comment">
                    MonSus → <a href="#">Bedao Mini Contest 17</a>
                </div>
                <div class="top-comment">
                    Dannyplusplus → <a href="#">Bedao Mini Contest 17</a>
                </div>
                <div class="top-comment last-child">
                    bruhlmao21 → <a href="#">Bedao Mini Contest 17</a>
                </div>
            </div>
            <div class="top-user" style="margin-top: 50px">
                <h1 class="top-user-title">Bài mới</h1>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - DIVISORS</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - EQUATION</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - PEACHTREE</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - PLUS</a>
                </div>
                <div class="top-problem">
                    <a href="#">Bedao Mini Contest 17 - SUMSQUARE</a>
                </div>
                <div class="top-problem">
                    <a href="#">Beginner Free Contest 49 - SALES</a>
                </div>
                <div class="top-problem last-child">
                    <a href="#">Beginner Free Contest 49 - TOYS</a>
                </div>
            </div>
        </div>
  

